.card__title {
  font: var(--td-font-title-large);
  padding: 16px 0px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 18px;
    background-color: var(--td-brand-color);
    margin-right: 6px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
