.main-section {
  > div {
    height: 100%;
  }

  .need-full-section {
    height: 100%;

    &.t-table {
      background-color: var(--td-bg-color-page);

      table {
        height: 100%;
      }

      .t-table__empty {
        height: 100%;
      }
    }

    &.table-has-pagination {
      max-height: calc(100% - 64px);
    }
    &.t-table--header-fixed {
      max-height: calc(100% - 47px);
    }

    &.table-has-pagination.t-table--header-fixed {
      max-height: calc(100% - 66px);
    }
  }
}

.card-title-tag {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 16px;
    background-color: var(--td-brand-color);
    margin-right: 6px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
